<%= form_for :restaurant, url: { action: "create"}, :html => { :multipart => true } do |form| %>
  <p>Name</p>
  <%= form.text_field :name%>
  <p>Location</p>
  <%= form.text_field :location %><br><br>
  <p>Description</p>
  <%= form.text_area :description %><br><br>
  <p>Image</p>
  <%= form.file_field :image %>
  <%= r.submit "Save" %>
<% end %>
