<div class="container">
    <div class="row">
      <div class="col-xs-12">
      <h1 class="headings"> Your Local Restaurants </h1>
      <ls> <% @restaurants.each do |restaurant| %>
        <div class="row">
      <div class="col-xs-3">
        <div id="restaurant">
        <ul>
          <img src="<%=restaurant.image%>" height="150" width="180"></img>
          <h2> <%= restaurant.name %> </h2>
          <p> <%= restaurant.description %> </p>
          <p> <%= restaurant.location %> </p>
          <%= link_to "Write Review", new_review_path(restaurant)%>
      </ls>
          <ul>
            <% reviews = restaurant.get_reviews(restaurant.id) %>
            <% reviews.each do |review| %>
            <div id = "review">
              <%= User.find_by_id(review.user_id).email%> wrote:
              <%= "⭐️" * review.rating %>
              <%= review.comment %>
            </div>
          </ul>
          <% end %>
        </ul>
      </div>
        <% end %>
      </ls>
    </div>
      </div>
      </div>
    </div>
  </div>
