<!-- <%= link_to("Back to My Account page", {action: 'account'}, class: 'back-link') %>

<div class="restaurant delete">
  <h2> Delete <%= @restaurant.name %> </h2>

  <%= form_for(:restaurant, url: {action: 'delete', id: @restaurant.id}) do |r|%>

  <p>Are you sure you want to permanently delete <%= @restaurant.name %> ? </p>

<div class="form-buttons">
    <%= submit_tag("Delete this restaurant") %>
  </div>
  <%end%>
</div> -->
